<!doctype html>

<title>Matjaz Verbole: 404 page not found</title>
<link rel=stylesheet type="text/css" href="{{ '/css/main.css' | relative_url }}">
<link rel=canonical href="{{ site.url }}{{ page.url }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="404 page not found">
<style>
li + li { padding-top: 0.25em; padding-bottom: 0.25em; }
h2 + .subheading { font-size: 14px; margin-top: 0; }
</style>

<h1 style="text-align: center">404</h1>

<p style="text-align: center"><strong>Page not found :(</strong></p>
<p style="text-align: center">The requested page could not be found.</p>

<p style="text-align: center"><a href="{{ site.url }}">{{ site.url }}</a></p>