<!doctype html>
<meta charset="utf-8">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-2752807-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-2752807-2');
</script>

<title>{{ page.title }}</title>
<base href="/">
<link rel=stylesheet href="{{ '/css/main.css' | relative_url }}">
<link rel=canonical href="{{ site.url }}{{ page.url }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ page.description }}, Author: Matjaz Verbole">

<article class="h-entry">
<header>
<h1 class="p-name">{{ page.title }}</h1>
<address class="p-author h-card vcard">
By <a rel=author class="p-name u-url fn url" href="{{ site.url }}">Matjaz Verbole</a> &lt;<a class="u-email email" href="mailto:{{ site.email }}">{{ site.email }}</a>&gt;
</address>
<p><time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y-%m-%d" }}</time>
</header>

<div class="e-content">

{{ content }}

</div>

<footer>
{% if page.tags.first != null %}
  Tags:
  {% for tag in page.tags %}
    {% if forloop.last %}
        <a class="p-category" href="/etc/{{ tag }}">{{ tag }}</a>
    {% else %}
        <a class="p-category" href="/etc/{{ tag }}">{{ tag }}</a>,
    {% endif %}
  {% endfor %}
   &bull;
{% endif %}
Link: <a class="u-uid u-url" href="{{ site.url }}{{ page.url }}">{{ site.url | replace: "http://", "" | replace: "https://", "" }}{{ page.url }}</a>
</footer>
</article>