<!doctype html>

<title>Matjaz Verbole: Résumé</title>
<link rel=stylesheet type="text/css" href="{{ '/css/main.css' | relative_url }}">
<link rel=canonical href="{{ site.url }}{{ page.url }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Matjaz Verbole's Résumé">
<style>
li + li { padding-top: 0.25em; padding-bottom: 0.25em; }
h2 + .subheading { font-size: 14px; margin-top: 0; }
</style>

<h1>Matjaz Verbole</h1>

<p style="margin-top: 1em">
{{ site.email }}<br>
<a href="{{ site.url }}">{{ site.url }}</a>

<h2>Overview</h2>

<ul>
<li>
</ul>

<p>Last updated: 2020-04-02
