<!doctype html>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-2752807-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-2752807-2');
</script>

<title>Matjaz Verbole: Résumé</title>
<link rel=stylesheet type="text/css" href="{{ '/css/main.css' | relative_url }}">
<link rel=canonical href="{{ site.url }}{{ page.url }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Matjaz Verbole's Résumé">
<style>
li + li { padding-top: 0.25em; padding-bottom: 0.25em; }
h2 + .subheading { font-size: 14px; margin-top: 0; }
</style>

<h1>Matjaz Verbole</h1>

<p style="margin-top: 1em">
{{ site.email }}<br>
<a href="{{ site.url }}">{{ site.url }}</a>

<h2>Overview</h2>

<p>
Experienced Firmware and Software Engineer with a strong educational background (graduated from Faculty of Computer and Information Science, Ljubljana) with more than 7 years of working in business software development and firmware development in various fields. My key skills are ARM embedded systems, C/C++, RTOS, Python, secure and reliable multi-threaded applications.
<p>
Deep knowledge and comprehensive experience with programming low level software for a various types of microcontrollers. Strong skills in wireless communication (Bluetooth, BLE, WiFi, GPRS, Iridium). Knowing, understanding and using different low level communication protocols: CAN, SPI, UART, I2C and also high level communication protocols: MQTT, TCP and others.
<p>
I have a lot of experiences in developing firmware software on a various platforms (Infineon, Renesas, STM32, Nordic, ESP32) where security and reliability are in the first place. When developing such applications I follow MISCA C guidelines.
<p>
Strong personal qualities: teamplayer, focused to finish goals within deadlines, software quality with coding standards, writing good and understandable documentation, solving engineering problems.
<p>
I'm an engineer. When I face a problem I search for solutions how to solve it, rather then excuses why it can't be solved.

<h2>My positions</h2>
<br>
<h2>Freelancer/Contractor for Embedded System Software</h2>
<p class=subheading>2020–
<p>
<ul class=pointed>
<li>developing time critical systems (follow MISRA C rules)
<li>developing reliable multi-threaded applications using RTOS
<li>developing embedded software for various platforms (Infineon, Renesas, STM32, Nordic, ESP32)
<li>developing software for distributed systems (usage of a different messaging protocols for a communication)
<li>developing unit tests for embedded software (gtest, Unity, CMock, fff)
<li>developing custom build systems with makefile
</ul>
<b>Working on many projects which uses different techologies:</b>
<ul class=pointed>
<li>Bluetooth, BLE, WiFi, GPRS, Iridium
<li>CAN, SPI, UART, I2C
<li>MQTT, TCP
<li>Nordic BLE (nRF52832)
<li>Segger emFile
<li>LibOpenCM3
</ul>
<b>And different tools:</b>
<ul class=pointed>
<li>gcc, g++, Arm C/C++ Compiler, make, cmake
<li>Keil uVision, Eclipse, Atollic, CubeMX
<li>git
<li>Lcov, Gcov
<li>Valgrind, Asan, Ubsan and other static tool analyzers
</ul>

<h2>Lead Firmware Engineer, EMA d.o.o., Slovenia</h2>
<p class=subheading>2018–2020
<p>
<ul class=pointed>
<li>developing a new software solutions for M2M (Machine to Machine) and IoT(Internet of Things) areas
<li>creating a strategy of creating and documenting a software with MDA (ModelDriven Architecture) approach
<li>creating a specification of requirements for new applications
<li>tracking, verifying and fixing bugs
<li>creating a suggestions for improvements and optimization of a software
<li>validating individual development steps and testing modules
<li>participation in research and development projects
</ul>

<h2>Firmware Engineer, LOGICDATA GmbH, Austria</h2>
<p class=subheading>2016–2018
<p>
<ul class=pointed>
<li>responsibility for the development of new Firmware-Architectures
<li>implementation of firmware drivers and function software modules for themicro-controller system based on a real-time operating system
<li>continuous development and improvement of software platforms and architecture
<li>support with reviewing architecture and software
</ul>

<h2>Test Engineer, LOGICDATA GmbH, Austria</h2>
<p class=subheading>2014–2016
<p>
<ul class=pointed>
<li>developed software for automated test devices (ATD)
<li>developed software for creating testing scenarios for ATD
<li>worked with different protocols
<li>developed JIRA plugins (advanced ones)
</ul>

<h2>Business Software Developer, NORMA soft d.o.o., Slovenia</h2>
<p class=subheading>2012–2014
<p>
<ul class=pointed>
<li>developed business software applications (purchase, sale, storage, workorders, accounting)
<li>integrated IP telephony system into existing applications
<li>developed production line software
</ul>

<p>Last updated: 2020-04-19
