<!doctype html>

<title>ams: Collected works</title>
<link rel=stylesheet type="text/css" href="{{ '/css/main.css' | relative_url }}">
<link rel=canonical href="{{ site.url }}{{ page.url }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Subject-wise index of articles written by Matjaz Verbole">

<header>
<h1>Things I've written</h1>
<address>
By <a href="{{ site.url }}">Matjaz Verbole</a> &lt;{{ site.email }}&gt;
</address>
</header>

<p>
This page links to the subjects that I tend to write about often.

<p>
<a href="/etc">My journal</a> presents all of these articles in
chronological order (with tags that link to related articles).